<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <%= csrf_meta_tag %>
    <title><%= yield(:title) || "Rails Exception Logger" %></title>

    <%= stylesheet_link_tag "rails_mongo_logger/application" %>

    <%= auto_discovery_link_tag(:rss, {:action => "feed"}, {:title => "RSS Feed"}) %>
  </head>
  <body>
    <div id="container">
      <%= yield %>
    </div>
    <br style="clear:both" />

    <%= javascript_include_tag "rails_mongo_logger/application" %>
  </body>
</html>
